body
{
	text-align:  center;
	background-color: cyan;
}
.ibox
{
	color: cyan;
}
.text
{
	background-color: aliceblue;
}
img
{
	height: 100px;
	width: 150px;
	border: dashed;
}
iframe
{
	text-align: center;
}
/*This code is for the style of the ISS WebPage*/